.App {
  text-align: center;
  font-size: 18px;
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.sidebar{
  width: 20%;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.content{
  width: 80%;
  overflow: auto;
}

input[type=number], input[type=text] {
  padding: 12px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  width: 200px;
  font-size: 100%;
}

input[type=button] {
  padding: 12px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  width: 100px;
  font-size: 100%;
  cursor: pointer;
}