.player-names-container{
    padding: 3rem;
}

.player-detail{
    display: flex;
    flex-direction: column;
    border: 1px solid #d0d2d6;
    padding: 2rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: 300;
}

.active-player-span{
    border: none;
    padding: 10px 1px;
    text-align: center;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #6495ED;
    font-size: 1.25rem;
    color: #fff;
    text-transform: none;
    width: 100%;
    display: flex;
    justify-content: center;
}

.player-detail span:first-child{
    margin-bottom: 1rem;
}

@media only screen and (min-width: 280px) and (max-width: 1023px) {
  
    .player-names-container{
      padding: 0;
    }
  }
