
.board-col{
    width: 33%;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
}

.center-col{
    border-left: 1px solid red;
    border-right: 1px solid red;
}

.col-border-bottom{    
    border-bottom: 1px solid red;
}